# Ignore everything
*

# Include these specific files
!alembic.ini
!LICENSE.md
!poetry.lock
!poetry.toml
!pyproject.toml
!README.md
!setup.cfg

# Include specific files from directories
!snagem/
!snagem/**/
!snagem/**/*.md
!snagem/**/*.py
!snagem/db/alembic/script.py.mako
