# SPDX-License-Identifier: AGPL-3.0-or-later

# Ignore everything
*

# Include these specific files
!alembic.ini
!LICENSE.md
!poetry.lock
!poetry.toml
!pyproject.toml
!README.md
!setup.cfg

# Include specific files from directories
!snag/
!snag/**/
!snag/**/*.md
!snag/**/*.py

!snagd/
!snagd/**/
!snagd/**/*.md
!snagd/**/*.py
!snagd/db/alembic/script.py.mako
