# SPDX-License-Identifier: AGPL-3.0-or-later

# Ignore everything
*

# Include these specific files
!LICENSE.md
!README.md
!poetry.lock
!poetry.toml
!pyproject.toml

# Allow searching in and traversing specific directories
!snagctl/
!snagctl/**
!snagd/
!snagd/**

# Include these files from any included directory.
!**/*.py
