# SPDX-License-Identifier: AGPL-3.0-or-later

# Ignore everything
*

# Include these specific files
!.dockerignore
!.editorconfig
!.gitignore
!Dockerfile
!LICENSE.md
!README.md
!poetry.lock
!poetry.toml
!pyproject.toml

# Include GitHub Actions pipeline configuration
!.github/
!.github/workflows/
!.github/workflows/*.yml

# Include our VS Code configuration
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Allow searching in and traversing specific directories
!docs/
!docs/**
!snagctl/
!snagctl/**
!snagd/
!snagd/**

# Include these files from any included directory.
!**/*.py
!**/*.md
