# Ignore everything
*

# Include these specific files
!.dockerignore
!.editorconfig
!.gitignore
!alembic.ini
!docker-compose.override.yml
!docker-compose.yml
!Dockerfile
!LICENSE.md
!poetry.lock
!poetry.toml
!pyproject.toml
!README.md
!tox.ini

# Include specific files from specific directories
!.github/
!.github/**/
!.github/workflows/*.yml
!.vscode/
!.vscode/**/
!.vscode/extensions.json
!.vscode/settings.json
!snagem/
!snagem/**/
!snagem/**/*.md
!snagem/**/*.py
!snagem/db/alembic/script.py.mako
!test/
!test/**/
!test/**/*.py
