# SPDX-License-Identifier: AGPL-3.0-or-later

# Ignore everything
*

# Allow traversing directories
!**/

# Include these specific files
!.dockerignore
!.editorconfig
!.gitignore
!alembic.ini
!Dockerfile
!LICENSE.md
!poetry.lock
!poetry.toml
!pyproject.toml
!README.md

# Include specific files from specific directories
!.github/workflows/*.yaml

!.vscode/extensions.json
!.vscode/settings.json

!docs/
!docs/**/
!docs/**/*.md
!docs/**/*.yaml

!snagctl/
!snagctl/**/
!snagctl/**/*.md
!snagctl/**/*.py

!snagd/
!snagd/**/
!snagd/**/*.md
!snagd/**/*.py
!snagd/db/alembic/script.py.mako
